body, html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
.paralax1, .paralax2{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.paralax1{
    background-image: url("../img/paralax.jpg");
    min-height: 100%;
}
.paralax2{
    background-image: url("../img/paralax2.jpg");
    min-height: 50%;
}
.section{
    text-align: center;
    padding: 50px 80px;
}
.section-dark{
    background-color: #282e34;
    color: #ddd;
}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.border{
    background-color: #111;
    color: #fff;
    padding: 20px;
}
.trans{
    background-color: transparent;
}

@media (max-width:568px){
    .paralax1, .paralax2{
        background-attachment: scroll;
    }  
}